body {
  height: 100vh;
  position: relative;
}

.game-display  {
  text-align: center;
}

.game-display p {
  font-size: 1.2em;
}

.color-target {
  font-weight: bold;
}

.block-container {
  display: flex;
  justify-content: space-around;
}

.block-element {
  width: 200px;
  height: 200px;
}

.nope {
  display: none;
  margin: 75px auto;
  font-size: 2em;
  text-align: center;
  color: white;
}

.yes {
  text-align: center;
  margin: 80px auto;
  font-size: 1.5em;
  display: none;
}

.correct-response {
  background: url(success.jpg);
  height: 360px;
  width: 640px;
  display: none;
  margin-bottom: 15px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.flex-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  top: 50%;
  left: 39%;
}

.correct-response p {
  width: 100px;
  margin: 100px auto;
  text-align: center;
  padding: 14px 20px;
  background-color: rgb(96,114,150);
  color: white;
  border: 1px solid white;
}
