h1 {
  text-align: center;
}

.block-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.block-element {
  width: 200px;
  height: 200px;
}

.nope {
  display: none;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
